[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
minio = "*"
strawberry-graphql = "*"
uvicorn = "*"
python-multipart = "*"
sqlalchemy-utils = "*"
sqlakeyset = "*"
asyncpg = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.11"
